:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: grey;
  font-family: Arial, sans-serif;
  justify-content: center;
  margin: 0 auto 0 auto;
}

h1,
nav {
  margin: 1em;
  text-align: center;
}
li {
  list-style-type: square;
}

main {
  border-radius: 2em;
  background-color: #fff;
  opacity: 70%;
  width: 98%;
  padding: 1em;
}

img {
  border-radius: 1em;
  height: 30%;
  width: 33%;
}
